/*********************Start Navigation with dropdowns***********************************/

html {
    width: 960px;
    margin: 0 auto;
    /*font-family:Calibri, sans-serif; 
	border: darkgray solid 1px;*/
    height: 100%;
}

body {
    tex-align: center
}

header {
    text-align: center;
}

img {
    margin: "auto";
}

#nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: White;
}

#nav li {
    position: relative;
    display: inline;
}

#nav a {
    display: inline-block;
    padding: 10px;
}

#nav ul {
    position: absolute;
    /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
    left: -9999px;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: White;
}

#nav ul li {
    display: block;
}

#nav li:hover ul {
    left: 0;
}

#nav li:hover a {
    text-decoration: underline;
    background: #f1f1f1;
}

#nav li:hover ul a {
    text-decoration: none;
    background: none;
}

#nav li:hover ul a:hover {
    text-decoration: underline;
    background: #f1f1f1;
}

#nav ul a {
    white-space: nowrap;
    display: block;
    border-bottom: 1px solid #ccc;
    background-color: White;
}

a {
    color: #c00;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    background: #f1f1f1;
}


/***********************************End Navigation with dropdown***********************************/